<!DOCTYPE html>
<html>
	<head>
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/stylesheets/checklist.css">
	</head>
	<body>
		<div id="banner">
			<div class="menu">
				<ul class="menu-li">
					<li id="menu-home"> Home </li>
					<li id="menu-journal"> Journal </li>
					<li id="menu-stats"> Stats </li>
					<li id="menu-cal"> Calendar </li>
				</ul>
			</div>

			<div class="title-container">
				<h1 id="webpageName"> LogIt - Checklist </h1>
			</div>
		</div> <!-- banner -->

		<div class="inner-page"> 

			<div class="checklist-container">

				<div class="checklist-generator">
					
					<div class="checklist-generator-date">
						Month:
						<select id="input-month" class="input-checklist">
							<option> </option>
							<option> January </option>
							<option> February </option>
							<option> March </option>
							<option> April </option>
							<option> May </option>
							<option> June </option>
							<option> July </option>
							<option> August </option>
							<option> September </option>
							<option> October </option>
							<option> November </option>
							<option> December </option>
						</select>
						Day: 
						<select id="input-day" class="input-checklist">
							<option> </option>
							<% for (var i = 1; i <= 31; i++) { %>
								<option> <%= i %> </option>
							<% } %>
						</select>
						Year:
						<select id="input-year" class="input-checklist">
							<option> </option>
							<% for (var i = currYear; i <= currYear + 1; i++) { %>
								<option> <%= i %></option>
							<% } %>
						</select>

					</div> <!-- checklist generator date -->

					<div class="checklist-generator-task">
						<input type="text" placeholder="Set your task here" id="input-task" class="input-checklist">
						<div class="start-time-container">
							start: <input type="time" id="input-time" class="check-time"/>
						</div>
					</div> <!-- checklist generator task -->

					<div class="checklist-generator-buttons">
						
						<p class="checklist-generator-button-cancel">
							Cancel
						</p>

						<p class="checklist-generator-button-post">
							Log
						</p>
					</div>

				</div> <!-- checklist generator -->

				<div class="checklist-log">
					
					<div class="checklist-body">
						<div class="checklist-header">
							Your Checklist: 
						</div>
						<% var monthList = ["January", "February","March","April","May","June","July",
                 "August","September","October","November", "December"]; %>
						<% app_check.year.forEach(function(curryear) { %>
							<% for (var i = 0; i < curryear.current.length; i++) { %>
								<% if (curryear.current[i].length > 0) { %>
									<% var month = monthList[i] %>
									<% var day = (curryear.current[i])[0].day %>
									<ul>
									<div class="checklist-subheader">
										<%= month + " " + day + " " + (Number(currYear)) %>
									</div>
									<% for (var j = 0; j < curryear.current[i].length; j++) { %>
										<% if ((curryear.current[i])[j].day != day) { %>
											<% var day = (curryear.current[i])[j].day; %> 
											
											<div class="checklist-subheader">
												<%= month + " " + day + " " + (Number(currYear)) %>
											</div>
										<% } %>
										<ul>
											<li>
												<% var complete_flag = false %>
												<% if ((curryear.current[i])[j].completed == "true") { %>
													<i class="fa fa-check-square-o" aria-hidden="true"></i>
													<% complete_flag = true; %> 
												<% } %>
												<% if ((curryear.current[i])[j].completed == "false") { %>
													<i class="fa fa-square-o" aria-hidden="true"></i>
												<% } %>

												<% if (complete_flag == false) { %>
													<div class="check-description">
														<%= (curryear.current[i])[j].task %>
													</div>
													<div class="check-start">
														<% var start = (curryear.current[i])[j].start %>
														<% if (Number(start.substring(0,2)) >= 12) { %>
															<% if (Number(start.substring(0,2)) == 12) { 
																%>
																<% var startHour = 12 %>
																<% var start = startHour + start.substring(2) + " PM" %>
															<% } else { %>
																<% var startHour = Number(start.substring(0,2)) - 12 %>
																<% if (Number(startHour) < 10) { %>
																	<% startHour = "0" + startHour%>
																<% } %>
																<% start = startHour + start.substring(2) + " PM"%>
															<% } %>
														<% } else if (Number(start.substring(0,2)) < 12) { %>
															<% if (Number(start.substring(0,2)) == 0) { %>
																<% var startHour = 12 %>
																<% var start = startHour + start.substring(2) + " AM" %>
															<% } %>
															<% if (Number(start.substring(0,2)) != 12) { %>
																<% var startHour = start.substring(0,2) %>
																<% start = start + " AM" %>
															<% } %>
														<% } %>
														<%=  start%>
												<% } else { %>
													<div class="check-description task-complete">
														<%= (curryear.current[i])[j].task %>
													</div>
													<div class="check-start task-complete">
														<% var start = (curryear.current[i])[j].start %>
														<% if (Number(start.substring(0,2)) >= 12) { %>
															<% if (Number(start.substring(0,2)) == 12) { 
																%>
																<% var startHour = 12 %>
																<% var start = startHour + start.substring(2) + " PM" %>
															<% } else { %>
																<% var startHour = Number(start.substring(0,2)) - 12 %>
																<% if (Number(startHour) < 10) { %>
																	<% startHour = "0" + startHour%>
																<% } %>
																<% start = startHour + start.substring(2) + " PM"%>
															<% } %>
														<% } else if (Number(start.substring(0,2)) < 12) { %>
															<% if (Number(start.substring(0,2)) == 0) { %>
																<% var startHour = 12 %>
																<% var start = startHour + start.substring(2) + " AM" %>
															<% } %>
															<% if (Number(start.substring(0,2)) != 12) { %>
																<% var startHour = start.substring(0,2) %>
																<% start = start + " AM" %>
															<% } %>
														<% } %>
														<%=  start%>
												<% } %>
												</div>
												<div>
													<i class="pencil"></i>
												</div>
												<div>
													<i class="trash"></i>
												</div>
												<div>
													<i class="x-button"></i>
												</div>
												<div>
													<i class="check"></i>
												</div>
											</li>
										</ul>
									<% } %>
								<% } %>
								</ul>
							<% }%>
						<% }); %>
					</div>
				</div> <!-- checklist log -->

			</div> <!-- checklist container -->

		</div> <!-- inner page -->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="/javascripts/checklist.js"></script>
	</body>
</html>