<!DOCTYPE html>

<html>
	<head>
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/Log.css">

	</head>
	
	<body>

		<div id="banner">
			<!-- <input type="text" name="search" placeholder="Search.."> -->
			<div class="menu">
				<ul class="menu-li">
					<li id="menu-home"> Home </li>
					<li id="menu-stats"> Stats </li>
					<li id="menu-cal"> Calendar </li>
					<li id="menu-check"> Checklist </li>
				</ul>
			</div>

			<div class="title-container">
				<h1 id="webpageName"> LogIt - Journal </h1>
			</div>
		</div>

		<div class="inner-page"> 
			
			<div id="input-container">
				
				<div class='start-container'>
					start: <input type="time" name="start-time" id="start-time" class="time-input"/>
				</div> <!-- start container -->
				
				<div class='end-container'>
					end: <input type="time" name="end-time" id="end-time"/>
				</div> <!-- end container -->
				
				<div class='description-container'>
					<input id="description-input" type="text" name="log-activity" placeholder="description of activity" class="log-description"/>
				</div> <!-- description container -->
				
				<div class='type-selection-container'>
					<select name="activity-type" id="type-selection">
						<option> </option>
						<option> Work</option>
						<option> Leisure</option>
						<option> Daily Routines</option>
						<option> Sleep</option>
						<option> Eating</option>
						<option> Transportation</option>
						<option> Exercise </option>
					</select>
				</div> <!-- type selection container -->
				
				<div class="buttons">
					<p class="cancel-button">
						Cancel
					</p>
					<p class="post-button">
						Log
					</p>
				</div> <!-- post button -->
				
			</div> <!-- input container  -->
		
			<div class="view-container">

				<div class="log-header-container">
					<div class="log-header"> 
						Today's Log
						<p class="log-subheader"> <%= app_data.date %> </p>
					</div> <!-- log header  -->
				

				</div> <!-- log header container  -->
			
				<div class="log-list-container">
					<ul id="log-list">
						<% app_data.logs.forEach(function(item) { %>
							<% if (app_data.date == item.date) { %>

								<li class="log-list-style"> 
									<% if (item.type == "Work") { %>
										<div class="type-rec" id="Work"> <%= item.elapsed %> </div>
									<% } %>
									<% if (item.type == "Leisure") { %>
										<div class="type-rec" id="Leisure"> <%= item.elapsed %> </div>
									<% } %>
									<% if (item.type == "Daily Routines") { %>
										<div class="type-rec" id="Daily_Routines"> <%= item.elapsed %> </div>
									<% } %>
									<% if (item.type == "Sleep") { %>
										<div class="type-rec" id="Sleeping"> <%= item.elapsed %> </div>
									<% } %>
									<% if (item.type == "Eating") { %>
										<div class="type-rec" id="Eating"> <%= item.elapsed %> </div>
									<% } %>
									<% if (item.type == "Transportation") { %>
										<div class="type-rec" id="Transportation"> <%= item.elapsed %> </div>
									<% } %>
									<% if (item.type == "Exercise") { %>
										<div class="type-rec" id="Exercise"> <%= item.elapsed %> </div>
									<% } %>

									<div class="li-time">
										<%= item.start + " - " + item.end %> 
									</div> <!-- li time  -->
									
									<div class="li-description">
										<%= item.description %>
									</div> <!-- li description  -->

									<div class="edit-button">
										<i class="pencil"></i>
									</div>

									<div class="trash-button">
										<i class="trash-o"></i>
									</div>

									<div class="x-button">
										<i class="x"></i>
									</div>
									
									<div class="check-button">
										<i class="check"></i>
									</div>

								</li>
							<% } %>
						<% }); %>
					</ul>
				</div> <!-- log list container  -->

			</div> <!-- view container  -->

		</div> <!-- inner page  -->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="/javascripts/Log.js"></script>
	</body>
</html>